Repository uxlfoundation/oneDAL, pull requests merged in 2020-12, with the labels that each got.

#1299 oneAPI PCA distr
  cpp/daal/src/algorithms/pca/pca_dense_correlation_distr_step2_fpt_dispatcher.cpp
  examples/daal/cpp_sycl/daal_lnx.lst
  examples/daal/cpp_sycl/source/pca/pca_cor_dense_distr.cpp
Labels: dpc++, interfaces, new algorithm

#1303 [DOC] Added dalapi tool
  .ci/pipeline/docs.yml
  docs/.gitignore
  docs/Makefile
  docs/dalapi/__init__.py
  docs/dalapi/directives.py
  docs/dalapi/doxypy/__init__.py
  docs/dalapi/doxypy/builder.py
  docs/dalapi/doxypy/cli.py
  docs/dalapi/doxypy/index.py
  docs/dalapi/doxypy/listing.py
  docs/dalapi/doxypy/loader.py
  docs/dalapi/doxypy/model.py
  docs/dalapi/doxypy/parser/__init__.py
  docs/dalapi/doxypy/parser/compound.py
  docs/dalapi/doxypy/parser/index.py
  docs/dalapi/doxypy/utils.py
  docs/dalapi/extension.py
  docs/dalapi/generator.py
  docs/dalapi/roles.py
  docs/dalapi/transformers.py
  docs/dalapi/utils.py
  docs/doxygen/oneapi/Doxyfile
  docs/make.bat
  docs/requirements.txt
  docs/source/conf.py
Labels: backport-2021

#1297 oneAPI covariance distr oneCCL sample
  samples/daal/cpp/oneccl/daal_lnx.lst
  samples/daal/cpp/oneccl/data/covcormoments_dense_1.csv
  samples/daal/cpp/oneccl/data/covcormoments_dense_2.csv
  samples/daal/cpp/oneccl/data/covcormoments_dense_3.csv
  samples/daal/cpp/oneccl/data/covcormoments_dense_4.csv
  samples/daal/cpp/oneccl/sources/covariance_dense_distributed_oneccl.cpp
  samples/daal/cpp/oneccl/sources/service.h
Labels: dpc++

#1306 Logistic regression online example
  cpp/daal/src/algorithms/logistic_regression/oneapi/logistic_regression_train_dense_default_oneapi_impl.i
  cpp/daal/src/algorithms/objective_function/common/oneapi/objective_function_utils_oneapi.h
  cpp/daal/src/algorithms/objective_function/cross_entropy_loss/oneapi/cross_entropy_loss_dense_default_oneapi_impl.i
  cpp/daal/src/algorithms/objective_function/logistic_loss/oneapi/logistic_loss_dense_default_oneapi_impl.i
  examples/daal/cpp_sycl/daal_lnx.lst
  examples/daal/cpp_sycl/source/logistic_regression/log_reg_binary_dense_online.cpp
  examples/daal/cpp_sycl/source/logistic_regression/log_reg_dense_online.cpp
  examples/daal/cpp_sycl/source/logistic_regression/logistic_regression_online.h
Labels: dpc++

#1319 delete build.sh
  build.sh
Labels: bug

#1305 [DOC] Added doxygen comments from spec
  .ci/pipeline/docs.yml
  cpp/oneapi/dal/algo/kmeans/common.hpp
  cpp/oneapi/dal/algo/kmeans/infer_types.hpp
  cpp/oneapi/dal/algo/kmeans/train_types.hpp
  cpp/oneapi/dal/algo/kmeans_init/common.hpp
  cpp/oneapi/dal/algo/kmeans_init/compute_types.hpp
  cpp/oneapi/dal/algo/knn/common.hpp
  cpp/oneapi/dal/algo/knn/infer_types.hpp
  cpp/oneapi/dal/algo/knn/train_types.hpp
  cpp/oneapi/dal/algo/pca/common.hpp
  cpp/oneapi/dal/algo/pca/infer_types.hpp
  cpp/oneapi/dal/algo/pca/train_types.hpp
  cpp/oneapi/dal/array.hpp
  cpp/oneapi/dal/table/column_accessor.hpp
  cpp/oneapi/dal/table/common.hpp
  cpp/oneapi/dal/table/homogen.hpp
  cpp/oneapi/dal/table/row_accessor.hpp
Labels: backport-2021, docs

#1323 Docs for SVM in new interfaces
  cpp/oneapi/dal/algo/linear_kernel/common.hpp
  cpp/oneapi/dal/algo/linear_kernel/compute_types.hpp
  cpp/oneapi/dal/algo/rbf_kernel/common.hpp
  cpp/oneapi/dal/algo/rbf_kernel/compute_types.hpp
  cpp/oneapi/dal/algo/svm/common.hpp
  cpp/oneapi/dal/algo/svm/infer_types.hpp
  cpp/oneapi/dal/algo/svm/train_types.hpp
  docs/source/onedal/kernel-functions/linear-kernel.rst
  docs/source/onedal/kernel-functions/rbf-kernel.rst
  docs/source/onedal/svm/svm.rst
Labels: docs

#1333 [DOC] Fixed conf.py
  docs/source/conf.py
Labels: docs

#1334 Fix gnu550 build for svm predict
  cpp/daal/src/algorithms/svm/svm_predict_impl.i
Labels: bug

#1336 [DOC] Fixed spelling and structure
  cpp/oneapi/dal/algo/svm/infer_types.hpp
  docs/source/daal-interfaces.rst
  docs/source/daal/algorithms/pca/transform.rst
  docs/source/data-analytics-pipeline.rst
  docs/source/index.rst
  docs/source/onedal/get-started/build-and-run-examples.rst
Labels: docs
