Repository uxlfoundation/oneDAL, pull requests merged in 2020-02, with the labels that each got.

#315 hash collision in execution_context_sycl was fixed.
  include/oneapi/internal/execution_context_sycl.h
Labels: dpc++

#343 [releases] hash collision in execution_context_sycl was fixed.
  include/oneapi/internal/execution_context_sycl.h
Labels: promote to releases

#340 Added known issues section to the doc
  docs/source/_static/style.css
  docs/source/index.rst
  docs/source/notes/images/runtime_error.png
  docs/source/notes/images/vsproj_debug_step1_open.png
  docs/source/notes/images/vsproj_debug_step2_copy.png
  docs/source/notes/images/vsproj_debug_step3_add.png
  docs/source/notes/known_issues.rst
Labels: docs

#341 [releases] Added known issues section to the doc
  docs/source/_static/style.css
  docs/source/index.rst
  docs/source/notes/images/runtime_error.png
  docs/source/notes/images/vsproj_debug_step1_open.png
  docs/source/notes/images/vsproj_debug_step2_copy.png
  docs/source/notes/images/vsproj_debug_step3_add.png
  docs/source/notes/known_issues.rst
Labels: docs

#361 Change year from 2019 to 2020 in rst docs
  docs/source/conf.py
Labels: docs

#362 [releases] Change year from 2019 to 2020 in rst docs
  docs/source/conf.py
Labels: docs

#231 Added requirements for doc generation
  docs/.gitignore
  docs/Makefile
  docs/README.md
  docs/requirements.txt
  docs/rst_examples.py
  docs/source/examples_sycl/cor_dense_batch.rst
  docs/source/examples_sycl/kmeans_dense_batch.rst
  docs/source/examples_sycl/kmeans_init_dense_batch.rst
  docs/source/examples_sycl/log_reg_binary_dense_batch.rst
  docs/source/examples_sycl/log_reg_dense_batch.rst
  docs/source/examples_sycl/pca_cor_dense_batch.rst
  docs/source/examples_sycl/sgd_mini_log_loss_dense_batch.rst
Labels: docs

#358 [releases] Added requirements for doc generation
  docs/.gitignore
  docs/Makefile
  docs/README.md
  docs/requirements.txt
  docs/rst_examples.py
  docs/source/examples_sycl/cor_dense_batch.rst
  docs/source/examples_sycl/kmeans_dense_batch.rst
  docs/source/examples_sycl/kmeans_init_dense_batch.rst
  docs/source/examples_sycl/log_reg_binary_dense_batch.rst
  docs/source/examples_sycl/log_reg_dense_batch.rst
  docs/source/examples_sycl/pca_cor_dense_batch.rst
  docs/source/examples_sycl/sgd_mini_log_loss_dense_batch.rst
Labels: docs

#396 Added Coding Guidelines
  CONTRIBUTING.md
  docs/source/_static/style.css
  docs/source/conf.py
  docs/source/contribution/coding_guide.rst
  docs/source/index.rst
Labels: docs

#397 [releases] Added Coding Guidelines
  CONTRIBUTING.md
  docs/source/_static/style.css
  docs/source/conf.py
  docs/source/contribution/coding_guide.rst
  docs/source/index.rst
Labels: docs

#344 improve caching in execution context
  algorithms/kernel/dtrees/gbt/oneapi/gbt_feature_type_helper_oneapi.h
  algorithms/kernel/dtrees/gbt/regression/oneapi/gbt_regression_train_dense_default_oneapi_impl.i
  algorithms/kernel/k_nearest_neighbors/oneapi/bf_knn_classification_predict_kernel_ucapi_impl.i
  algorithms/kernel/kmeans/oneapi/kmeans_dense_lloyd_batch_kernel_ucapi_impl.i
  algorithms/kernel/kmeans/oneapi/kmeans_init_dense_batch_kernel_ucapi_impl.i
  include/oneapi/internal/execution_context_sycl.h
  include/services/daal_defines.h
  include/services/daal_string.h
  include/services/error_indexes.h
  include/services/internal/hash_table.h
  service/kernel/daal_string.cpp
  service/kernel/error_handling.cpp
  service/kernel/oneapi/select_indexed.h
  service/kernel/oneapi/service_defines_oneapi.h
  service/kernel/oneapi/sorter.h
  service/kernel/oneapi/sum_reducer.h
Labels: dpc++

#404 Updated docs for decision forest
  docs/source/dev_guide/algorithms/decision_forest/decision-forest-classification.rst
  docs/source/dev_guide/algorithms/decision_forest/decision-forest.rst
Labels: docs

#419 Updated INSTALL.md and README.md with links to SysReq
  INSTALL.md
  README.md
Labels: docs

#405 [releases] Updated docs for decision forest
  docs/source/dev_guide/algorithms/decision_forest/decision-forest-classification.rst
  docs/source/dev_guide/algorithms/decision_forest/decision-forest.rst
Labels: docs

#420 [releases] Updated INSTALL.md and README.md with links to SysReq
  INSTALL.md
  README.md
Labels: docs
