Repository uxlfoundation/oneDAL, pull requests merged in 2020-04, with the labels that each got.

#525 Remove c++11 features from headers
  examples/cpp/makefile_lnx
  include/algorithms/boosting/adaboost_model.h
  include/algorithms/classifier/classifier_model.h
  include/algorithms/dbscan/dbscan_types.h
  include/algorithms/elastic_net/elastic_net_training_types.h
  include/algorithms/gradient_boosted_trees/gbt_training_parameter.h
  include/algorithms/lasso_regression/lasso_regression_training_types.h
  include/algorithms/normalization/minmax_types.h
  include/algorithms/normalization/zscore_types.h
  include/algorithms/optimization_solver/adagrad/adagrad_types.h
  include/algorithms/optimization_solver/coordinate_descent/coordinate_descent_types.h
  include/algorithms/optimization_solver/lbfgs/lbfgs_types.h
  include/algorithms/optimization_solver/objective_function/objective_function_types.h
  include/algorithms/optimization_solver/objective_function/sum_of_functions_types.h
  include/algorithms/optimization_solver/saga/saga_types.h
  include/algorithms/ridge_regression/ridge_regression_training_types.h
  include/oneapi/internal/execution_context.h
  include/oneapi/internal/math/types.h
Labels: promote to releases

#550 Known issues for beta06
  README.md
  docs/source/build_app/build-application.rst
  docs/source/conf.py
  docs/source/notes/issues/2021.1-beta04/dll-file-not-found.rst
  docs/source/notes/issues/2021.1-beta04/images/runtime_error.png
  docs/source/notes/issues/2021.1-beta04/images/vsproj_debug_step1_open.png
  docs/source/notes/issues/2021.1-beta04/images/vsproj_debug_step2_copy.png
  docs/source/notes/issues/2021.1-beta04/images/vsproj_debug_step3_add.png
  docs/source/notes/issues/2021.1-beta06/dpcpp-examples-in-vs2017.rst
  docs/source/notes/issues/2021.1-beta06/includes/note-refer-to-dpcpp-level-zero.rst
  docs/source/notes/issues/2021.1-beta06/incorrect-linker-behavior.rst
  docs/source/notes/issues/2021.1-beta06/level-zero-not-found.rst
  docs/source/notes/issues/2021.1-beta06/performance-degradations.rst
  docs/source/notes/issues/2021.1-beta06/undeclared-identifier.rst
  docs/source/notes/known_issues.rst
Labels: docs

#553 [releases] Known issues for beta06 (#550)
  README.md
  docs/source/build_app/build-application.rst
  docs/source/conf.py
  docs/source/notes/issues/2021.1-beta04/dll-file-not-found.rst
  docs/source/notes/issues/2021.1-beta04/images/runtime_error.png
  docs/source/notes/issues/2021.1-beta04/images/vsproj_debug_step1_open.png
  docs/source/notes/issues/2021.1-beta04/images/vsproj_debug_step2_copy.png
  docs/source/notes/issues/2021.1-beta04/images/vsproj_debug_step3_add.png
  docs/source/notes/issues/2021.1-beta06/dpcpp-examples-in-vs2017.rst
  docs/source/notes/issues/2021.1-beta06/includes/note-refer-to-dpcpp-level-zero.rst
  docs/source/notes/issues/2021.1-beta06/incorrect-linker-behavior.rst
  docs/source/notes/issues/2021.1-beta06/level-zero-not-found.rst
  docs/source/notes/issues/2021.1-beta06/performance-degradations.rst
  docs/source/notes/issues/2021.1-beta06/undeclared-identifier.rst
  docs/source/notes/known_issues.rst
Labels: docs

#563 Fix deadlock in daal4py
  include/services/internal/buffer_impl_sycl.h
Labels: dpc++
