Repository uxlfoundation/oneDAL, pull requests merged in 2021-08, with the labels that each got.

#1793 [DOC] Update doc configurations
  docs/source/conf.py
Labels: docs

#1742 DPC++ implementation of GPU backend for K-Means initialization
  cpp/oneapi/dal/algo/kmeans_init/BUILD
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernels_impl.hpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernels_impl_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/test/badarg.cpp
  cpp/oneapi/dal/algo/kmeans_init/test/batch.cpp
  cpp/oneapi/dal/backend/primitives/rng/partial_shuffle.cpp
  cpp/oneapi/dal/backend/primitives/rng/partial_shuffle.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Labels: dpc++

#1797 [DOC] Add debug libs
  docs/source/onedal/build_app/build-application.rst
Labels: docs

#1790 NuSVM avx512 Optimizations
  cpp/daal/src/algorithms/svm/svm_train_common_avx512_impl.i
  cpp/daal/src/algorithms/svm/svm_train_thunder_impl.i
Labels: perf

#1792 Fix for candidate count issue (DPC++ K-Means)
  cpp/oneapi/dal/algo/kmeans/backend/gpu/cluster_updater.hpp
Labels: dpc++, oneAPI

#1809 Fix bias compute in DAAL SVM
  cpp/daal/src/algorithms/svm/oneapi/svm_train_result_oneapi.h
Labels: bug

#1820 azure ci: fix apt-key error in clang-format check
  .ci/env/clang.sh
  .gitignore
Labels: infra

#1816 Add L0-based tools for GPU monitoring
  dev/bazel/cc.bzl
  dev/bazel/cc/link.bzl
  dev/l0_tools/.clang-format
  dev/l0_tools/BUILD
  dev/l0_tools/utils.hpp
  dev/l0_tools/zeinfo.cpp
  dev/l0_tools/zexx.hpp
Labels: dpc++

#1817 Train_test_split fix for specific subset sizes
  cpp/daal/src/data_management/train_test_split.cpp
Labels: bug

#1833 [DOC] Add analytics script
  docs/source/_templates/layout.html
Labels: docs

#1838 Enable DPC++ examples for Bazel testing
  examples/oneapi/dpc/BUILD
  examples/oneapi/dpc/source/basic_statistics/basic_statistics_dense_batch.cpp
  examples/oneapi/dpc/source/covariance/cor_dense_batch.cpp
  examples/oneapi/dpc/source/covariance/cov_dense_batch.cpp
  examples/oneapi/dpc/source/decision_forest/df_cls_hist_batch.cpp
  examples/oneapi/dpc/source/decision_forest/df_cls_traverse_model.cpp
  examples/oneapi/dpc/source/decision_forest/df_reg_hist_batch.cpp
  examples/oneapi/dpc/source/decision_forest/df_reg_traverse_model.cpp
  examples/oneapi/dpc/source/kmeans/kmeans_lloyd_dense_batch.cpp
  examples/oneapi/dpc/source/kmeans_init/kmeans_init_dense.cpp
  examples/oneapi/dpc/source/knn/knn_cls_brute_force_dense_batch.cpp
  examples/oneapi/dpc/source/knn/knn_search_brute_force_dense_batch.cpp
  examples/oneapi/dpc/source/linear_kernel/linear_kernel_dense_batch.cpp
  examples/oneapi/dpc/source/pca/pca_cor_dense_batch.cpp
  examples/oneapi/dpc/source/rbf_kernel/rbf_kernel_dense_batch.cpp
  examples/oneapi/dpc/source/svm/svm_two_class_thunder_dense_batch.cpp
  examples/oneapi/dpc/source/table/column_accessor_homogen.cpp
Labels: dpc++, oneAPI

#1832 DPCPP KNN
  cpp/oneapi/dal/algo/knn/BUILD
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_brute_force_dpc.cpp
  cpp/oneapi/dal/algo/knn/backend/gpu/train_kernel_brute_force_dpc.cpp
  cpp/oneapi/dal/algo/knn/infer_types.hpp
  cpp/oneapi/dal/algo/knn/test/batch.cpp
  cpp/oneapi/dal/backend/common.hpp
  cpp/oneapi/dal/backend/primitives/BUILD
  cpp/oneapi/dal/backend/primitives/distance/distance.hpp
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
  cpp/oneapi/dal/backend/primitives/search.hpp
  cpp/oneapi/dal/backend/primitives/search/BUILD
  cpp/oneapi/dal/backend/primitives/search/copy_search_callback.hpp
  cpp/oneapi/dal/backend/primitives/search/copy_search_callback_dpc.cpp
  cpp/oneapi/dal/backend/primitives/search/search.hpp
  cpp/oneapi/dal/backend/primitives/search/search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/search/test/search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_quick.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_simd.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_single_col.hpp
  cpp/oneapi/dal/backend/primitives/selection/select_indexed.hpp
  cpp/oneapi/dal/backend/primitives/selection/select_indexed_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/test/kselect_by_rows_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/test/select_indexed_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sort.hpp
  cpp/oneapi/dal/backend/primitives/sort/sort.hpp
  cpp/oneapi/dal/backend/primitives/sort/sort_dpc.cpp
  cpp/oneapi/dal/backend/primitives/test/ndarray.cpp
  cpp/oneapi/dal/backend/primitives/voting.hpp
  cpp/oneapi/dal/backend/primitives/voting/BUILD
  cpp/oneapi/dal/backend/primitives/voting/large_k_uniform_dpc.cpp
  cpp/oneapi/dal/backend/primitives/voting/test/uniform_dpc.cpp
  cpp/oneapi/dal/backend/primitives/voting/uniform.hpp
  cpp/oneapi/dal/backend/primitives/voting/uniform_dpc.cpp
Labels: dpc++, oneAPI

#1839 Fix pkg-configs for dynamic windows
  deploy/pkg-config/generate_pkgconfig.py
Labels: bug
