Repository uxlfoundation/oneDAL, pull requests merged in 2021-07, with the labels that each got.

#1739 pkg-config support
  deploy/local/vars_lnx.sh
  deploy/local/vars_mac.sh
  deploy/local/vars_win.bat
  deploy/pkg-config/generate_pkgconfig.py
  deploy/pkg-config/pkg-config.tpl
  makefile
Labels: infra

#1526 Migrate linear kernel to DPC++ interfaces
  cpp/oneapi/dal/algo/linear_kernel/BUILD
  cpp/oneapi/dal/algo/linear_kernel/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
Labels: dpc++, oneAPI

#1764 Fix copyright for pkg-configs
  deploy/local/dal
  deploy/pkg-config/pkg-config.tpl
Labels: infra

#1765 [DOC] Update paths to examples
  docs/source/conf.py
Labels: docs

#1757 Fix docs mistakes and inconsistency in kernel functions
  cpp/oneapi/dal/algo/linear_kernel/compute_types.hpp
  cpp/oneapi/dal/algo/polynomial_kernel/compute_types.hpp
  cpp/oneapi/dal/algo/rbf_kernel/compute_types.hpp
  cpp/oneapi/dal/algo/sigmoid_kernel/compute_types.hpp
  docs/source/onedal/algorithms/kernel-functions/linear-kernel.rst
  docs/source/onedal/algorithms/kernel-functions/polynomial-kernel.rst
  docs/source/onedal/algorithms/kernel-functions/rbf-kernel.rst
  docs/source/onedal/algorithms/kernel-functions/sigmoid-kernel.rst
Labels: docs

#1766 PCA model serialization
  cpp/oneapi/dal/algo/pca/common.cpp
  cpp/oneapi/dal/algo/pca/common.hpp
  cpp/oneapi/dal/algo/pca/test/serialization.cpp
  cpp/oneapi/dal/backend/serialization.hpp
Labels: oneAPI

#1735 kNN model serialization
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_model_impl.cpp
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_model_impl.h
  cpp/oneapi/dal/algo/knn/backend/cpu/infer_kernel_brute_force.cpp
  cpp/oneapi/dal/algo/knn/backend/cpu/infer_kernel_kd_tree.cpp
  cpp/oneapi/dal/algo/knn/backend/cpu/train_kernel_brute_force.cpp
  cpp/oneapi/dal/algo/knn/backend/cpu/train_kernel_kd_tree.cpp
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_brute_force_cls_dpc.cpp
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_brute_force_search_dpc.cpp
  cpp/oneapi/dal/algo/knn/backend/gpu/train_kernel_brute_force_cls_dpc.cpp
  cpp/oneapi/dal/algo/knn/backend/model_conversion.hpp
  cpp/oneapi/dal/algo/knn/backend/model_impl.hpp
  cpp/oneapi/dal/algo/knn/backend/model_interop.hpp
  cpp/oneapi/dal/algo/knn/common.cpp
  cpp/oneapi/dal/algo/knn/common.hpp
  cpp/oneapi/dal/algo/knn/detail/infer_ops.cpp
  cpp/oneapi/dal/algo/knn/detail/infer_ops_dpc.cpp
  cpp/oneapi/dal/algo/knn/detail/train_ops.cpp
  cpp/oneapi/dal/algo/knn/detail/train_ops_dpc.cpp
  cpp/oneapi/dal/algo/knn/test/serialization.cpp
  cpp/oneapi/dal/algo/svm/test/serialization.cpp
  cpp/oneapi/dal/backend/serialization.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Labels: oneAPI

#1778 Fix pkgconfig for win vars
  deploy/local/vars_win.bat
Labels: infra

#1725 RF: support filtering of const features
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Labels: bug

#1543 Migrate RBF kernel to DPC++ interfaces
  cpp/oneapi/dal/algo/rbf_kernel/BUILD
  cpp/oneapi/dal/algo/rbf_kernel/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/backend/math.hpp
Labels: dpc++, oneAPI

#1780 [Part1] Fix daal4py CI
  .ci/pipeline/ci.yml
Labels: infra

#1779 NuSVC Multiclass Fix
  cpp/daal/src/algorithms/svm/svm_train_batch_container.h
  cpp/daal/src/algorithms/svm/svm_train_boser_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/svm/svm_train_boser_batch_fpt_dispatcher.cpp
  cpp/daal/src/algorithms/svm/svm_train_internal.h
  cpp/daal/src/algorithms/svm/svm_train_result.h
  cpp/daal/src/algorithms/svm/svm_train_thunder_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/svm/svm_train_thunder_batch_fpt_dispatcher.cpp
  cpp/oneapi/dal/algo/svm/backend/cpu/train_cls_kernel.cpp
Labels: bug
