Repository uxlfoundation/oneDAL, pull requests merged in 2021-09, with the labels that each got.

#1835 Update DPC++ compiler namespaces
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/infer_kernel_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_best_split_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_service_kernels_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_integral_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/reduction/functors.hpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_naive_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_naive_local_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_rw_wide_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_quick.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_simd.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_single_col.hpp
  cpp/oneapi/dal/backend/primitives/selection/row_partitioning_kernel.hpp
  cpp/oneapi/dal/backend/primitives/selection/select_flagged_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sort/sort_dpc.cpp
  dev/bazel/toolchains/cc_toolchain.bzl
  dev/bazel/toolchains/cc_toolchain_lnx.bzl
  dev/bazel/toolchains/common.bzl
Labels: dpc++

#1864 Heap Selection primitive
  cpp/oneapi/dal/backend/primitives/BUILD
  cpp/oneapi/dal/backend/primitives/heap.hpp
  cpp/oneapi/dal/backend/primitives/heap/BUILD
  cpp/oneapi/dal/backend/primitives/heap/heap.hpp
  cpp/oneapi/dal/backend/primitives/heap/test/heap.cpp
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
  cpp/oneapi/dal/backend/primitives/search/test/search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/BUILD
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_heap.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_heap_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_impl.hpp
  cpp/oneapi/dal/backend/primitives/selection/test/kselect_by_rows_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/test/perf_kselect_by_rows_dpc.cpp
Labels: perf

#1893 Optional results for oneAPI DBSCAN
  cpp/oneapi/dal/algo/dbscan/backend/cpu/compute_kernel_brute_force.cpp
  cpp/oneapi/dal/algo/dbscan/backend/gpu/compute_kernel_brute_force_dpc.cpp
  cpp/oneapi/dal/algo/dbscan/common.cpp
  cpp/oneapi/dal/algo/dbscan/common.hpp
  cpp/oneapi/dal/algo/dbscan/compute_types.cpp
  cpp/oneapi/dal/algo/dbscan/compute_types.hpp
  cpp/oneapi/dal/algo/dbscan/test/batch.cpp
  examples/oneapi/cpp/source/dbscan/dbscan_brute_force_batch.cpp
  examples/oneapi/dpc/onedal_lnx.lst
  examples/oneapi/dpc/source/dbscan/dbscan_brute_force_batch.cpp
Labels: dpc++, oneAPI

#1874 Add kernel profiler for oneapi interfaces
  cpp/oneapi/dal/algo/pca/backend/gpu/train_kernel_cov_dpc.cpp
  cpp/oneapi/dal/detail/profiler.cpp
  cpp/oneapi/dal/detail/profiler.hpp
Labels: oneAPI
