Repository uxlfoundation/oneDAL, pull requests merged in 2021-04, with the labels that each got.

#1540 Deselect daal4py tests
  .ci/pipeline/ci.yml
Labels: infra

#1489 DPC++ primitive for k-selection on row-major data blocks
  cpp/oneapi/dal/backend/primitives/BUILD
  cpp/oneapi/dal/backend/primitives/rng/BUILD
  cpp/oneapi/dal/backend/primitives/rng/rnd_seq.hpp
  cpp/oneapi/dal/backend/primitives/selection/BUILD
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_base.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_quick.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_simd.hpp
  cpp/oneapi/dal/backend/primitives/selection/row_partitioning.hpp
  cpp/oneapi/dal/backend/primitives/selection/test/kselect_by_rows_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/test/perf_kselect_by_rows_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/test/row_partitioning_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sort/test/perf_sort_dpc.cpp
  cpp/oneapi/dal/test/engine/common.hpp
  cpp/oneapi/dal/test/engine/common_dpc.cpp
Labels: dpc++, oneAPI

#1539 added select flagged primitive
  cpp/oneapi/dal/backend/primitives/BUILD
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
  cpp/oneapi/dal/backend/primitives/selection/BUILD
  cpp/oneapi/dal/backend/primitives/selection/select_flagged.hpp
  cpp/oneapi/dal/backend/primitives/selection/select_flagged_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/test/perf_select_flagged_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/test/select_flagged_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/test/select_flagged_overflow_dpc.cpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Labels: dpc++, oneAPI

#1554 Internal API to get original data from homogen_table
  cpp/oneapi/dal/table/BUILD
  cpp/oneapi/dal/table/backend/homogen_table_impl.hpp
  cpp/oneapi/dal/table/detail/homogen_utils.cpp
  cpp/oneapi/dal/table/detail/homogen_utils.hpp
  cpp/oneapi/dal/table/detail/test/homogen_utils.cpp
Labels: oneAPI

#1560 Remove bad_variant_access
  cpp/oneapi/dal/detail/array_impl.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Labels: oneAPI

#1542 Add array-based wrap to homogen table
  cpp/oneapi/dal/algo/pca/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/array.hpp
  cpp/oneapi/dal/detail/array_impl.hpp
  cpp/oneapi/dal/detail/array_utils.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
  cpp/oneapi/dal/table/BUILD
  cpp/oneapi/dal/table/backend/homogen_table_builder_impl.hpp
  cpp/oneapi/dal/table/backend/homogen_table_impl.cpp
  cpp/oneapi/dal/table/backend/homogen_table_impl.hpp
  cpp/oneapi/dal/table/detail/table_builder.hpp
  cpp/oneapi/dal/table/homogen.hpp
  cpp/oneapi/dal/table/test/homogen.cpp
  cpp/oneapi/dal/table/test/row_accessor.cpp
  cpp/oneapi/dal/test/array_cast.cpp
Labels: oneAPI

#1566 Refactor internal interface of tables & accessors
  cpp/oneapi/dal/algo/linear_kernel/test/overflow.cpp
  cpp/oneapi/dal/algo/pca/test/overflow.cpp
  cpp/oneapi/dal/algo/polynomial_kernel/test/overflow.cpp
  cpp/oneapi/dal/algo/rbf_kernel/test/overflow.cpp
  cpp/oneapi/dal/backend/common.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
  cpp/oneapi/dal/table/backend/empty_table_impl.hpp
  cpp/oneapi/dal/table/backend/homogen_kernels.cpp
  cpp/oneapi/dal/table/backend/homogen_kernels.hpp
  cpp/oneapi/dal/table/backend/homogen_table_builder_impl.hpp
  cpp/oneapi/dal/table/backend/homogen_table_impl.cpp
  cpp/oneapi/dal/table/backend/homogen_table_impl.hpp
  cpp/oneapi/dal/table/backend/interop/host_homogen_table_adapter.cpp
  cpp/oneapi/dal/table/column_accessor.hpp
  cpp/oneapi/dal/table/common.cpp
  cpp/oneapi/dal/table/common.hpp
  cpp/oneapi/dal/table/detail/access_iface.hpp
  cpp/oneapi/dal/table/detail/access_iface_type_traits.hpp
  cpp/oneapi/dal/table/detail/access_iface_wrapper.hpp
  cpp/oneapi/dal/table/detail/access_wrapper_dpc.hpp
  cpp/oneapi/dal/table/detail/access_wrapper_host.hpp
  cpp/oneapi/dal/table/detail/accessor_base.hpp
  cpp/oneapi/dal/table/detail/columns_access_iface.hpp
  cpp/oneapi/dal/table/detail/homogen_utils.cpp
  cpp/oneapi/dal/table/detail/rows_access_iface.hpp
  cpp/oneapi/dal/table/detail/table_builder.cpp
  cpp/oneapi/dal/table/detail/table_builder.hpp
  cpp/oneapi/dal/table/detail/table_builder_impl.hpp
  cpp/oneapi/dal/table/detail/table_iface.hpp
  cpp/oneapi/dal/table/detail/table_impl_iface.hpp
  cpp/oneapi/dal/table/detail/table_impl_wrapper.hpp
  cpp/oneapi/dal/table/homogen.cpp
  cpp/oneapi/dal/table/homogen.hpp
  cpp/oneapi/dal/table/row_accessor.hpp
  cpp/oneapi/dal/table/test/column_accessor.cpp
  cpp/oneapi/dal/table/test/common.cpp
  cpp/oneapi/dal/table/test/homogen.cpp
  cpp/oneapi/dal/table/test/row_accessor.cpp
  cpp/oneapi/dal/test/engine/mocks.hpp
Labels: oneAPI

#1581 Fix memory allocate for SVM's
  cpp/daal/src/algorithms/svm/svm_predict_impl.i
Labels: bug

#1583 Fix homogen builder reset with rvalue ref
  cpp/oneapi/dal/table/backend/homogen_table_builder_impl.hpp
  cpp/oneapi/dal/table/backend/homogen_table_impl.hpp
  cpp/oneapi/dal/table/detail/homogen_utils.cpp
  cpp/oneapi/dal/table/detail/homogen_utils.hpp
  cpp/oneapi/dal/table/detail/table_builder.hpp
  cpp/oneapi/dal/table/detail/table_iface.hpp
  cpp/oneapi/dal/table/homogen.cpp
Labels: oneAPI

#1582 Update DPC++ fill test
  cpp/oneapi/dal/backend/primitives/test/fill_dpc.cpp
Labels: dpc++

#1587 Update CPU and GPU support section in docs
  docs/source/daal/cpu-vs-gpu.rst
Labels: docs

#1588 Delete dpcpp from daal4py; update ci for sklearnex; replace sklearnex in conformance tests
  .ci/pipeline/ci.yml
  .ci/scripts/conformance-scripts/requirements.txt
  .ci/scripts/conformance-scripts/run_tests.py
  .ci/scripts/conformance-scripts/utils.py
  .ci/scripts/conformance_test.sh
Labels: infra

#1584 Skip specific bazel tests
  cpp/oneapi/dal/algo/svm/test/batch.cpp
  cpp/oneapi/dal/backend/primitives/selection/test/kselect_by_rows_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/test/select_flagged_dpc.cpp
Labels: oneAPI, testing
