Repository uxlfoundation/oneDAL, pull requests merged in 2021-11, with the labels that each got.

#1932 Migrate SVM to DPC++ interfaces
  cpp/oneapi/dal/algo/linear_kernel/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/linear_kernel/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/linear_kernel/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/linear_kernel/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/linear_kernel/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/linear_kernel/detail/compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/polynomial_kernel/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/polynomial_kernel/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/polynomial_kernel/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/polynomial_kernel/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/polynomial_kernel/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/polynomial_kernel/detail/compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/rbf_kernel/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/rbf_kernel/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/rbf_kernel/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/rbf_kernel/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/rbf_kernel/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/rbf_kernel/detail/compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/sigmoid_kernel/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/sigmoid_kernel/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/sigmoid_kernel/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/sigmoid_kernel/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/sigmoid_kernel/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/sigmoid_kernel/detail/compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/svm/BUILD
  cpp/oneapi/dal/algo/svm/backend/gpu/misc.hpp
  cpp/oneapi/dal/algo/svm/backend/gpu/smo_solver.hpp
  cpp/oneapi/dal/algo/svm/backend/gpu/svm_cache.hpp
  cpp/oneapi/dal/algo/svm/backend/gpu/test/smo_solver.cpp
  cpp/oneapi/dal/algo/svm/backend/gpu/test/working_set.cpp
  cpp/oneapi/dal/algo/svm/backend/gpu/train_cls_kernel_thunder_dpc.cpp
  cpp/oneapi/dal/algo/svm/backend/gpu/train_results.hpp
  cpp/oneapi/dal/algo/svm/backend/gpu/working_set_selector.hpp
  cpp/oneapi/dal/algo/svm/backend/gpu/working_set_selector_dpc.cpp
  cpp/oneapi/dal/algo/svm/detail/kernel_function.cpp
  cpp/oneapi/dal/algo/svm/detail/kernel_function.hpp
  cpp/oneapi/dal/algo/svm/test/batch.cpp
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction.hpp
  cpp/oneapi/dal/backend/primitives/selection/select_flagged.hpp
  cpp/oneapi/dal/backend/primitives/selection/select_flagged_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sort/sort_dpc.cpp
  cpp/oneapi/dal/backend/primitives/test/ndarray.cpp
  cpp/oneapi/dal/test/engine/common.cpp
Labels: dpc++, oneAPI

#1998 Change public mklfpk version
  dev/download_micromkl.bat
Labels: infra

#2004 Fix for unknown USM pointer (distributed DBSCAN)
  cpp/oneapi/dal/algo/dbscan/backend/gpu/compute_kernel_brute_force_dpc.cpp
Labels: bug, dpc++, oneAPI
