Repository uxlfoundation/oneDAL, pull requests merged in 2021-03, with the labels that each got.

#1448 Improve performance and fix stability in CSR kernel functions
  cpp/daal/src/algorithms/kernel_function/kernel_function_linear_csr_fast_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_csr_fast_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_dense_default_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_dense_default_kernel.h
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
  cpp/daal/src/algorithms/kernel_function/oneapi/kernel_function_rbf_csr_fast_oneapi_impl.i
  cpp/daal/src/algorithms/svm/svm_predict_impl.i
  cpp/daal/src/externals/service_blas.h
  cpp/daal/src/externals/service_spblas.h
Labels: bug, perf

#1460 Fixes for compilation issues
  cpp/oneapi/dal/algo/knn/BUILD
  cpp/oneapi/dal/test/engine/BUILD
  cpp/oneapi/dal/test/engine/metrics/classification.hpp
Labels: bug, dpc++, oneAPI

#1447 Switch abstraction layer from SYCL buffers to device USM pointers
  .bazelrc
  cpp/daal/include/data_management/data/internal/numeric_table_sycl_csr.h
  cpp/daal/include/data_management/data/internal/numeric_table_sycl_homogen.h
  cpp/daal/include/services/internal/buffer.h
  cpp/daal/include/services/internal/buffer_impl_sycl.h
  cpp/daal/include/services/internal/sycl/buffer_utils_sycl.h
  cpp/daal/include/services/internal/sycl/execution_context_sycl.h
  cpp/daal/include/services/internal/sycl/kernel_scheduler_sycl.h
  cpp/daal/include/services/internal/sycl/math/mkl_blas.h
  cpp/daal/include/services/internal/sycl/math/mkl_dal_utils.h
  cpp/daal/include/services/internal/sycl/math/mkl_lapack.h
  cpp/daal/src/algorithms/covariance/covariance_dense_default_distr_step2_oneapi_fpt.cpp
  cpp/daal/src/algorithms/dtrees/forest/classification/oneapi/df_classification_train_hist_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/forest/classification/oneapi/df_classification_tree_helper_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/oneapi/df_regression_train_hist_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/oneapi/df_regression_tree_helper_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/cl_kernels/kmeans_cl_kernels.cl
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_dense_lloyd_kernel_base_ucapi.h
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_dense_lloyd_kernel_base_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_lloyd_distr_step2_ucapi_impl.i
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_csr_fast_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_csr_fast_distr_step2_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_csr_fast_online_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_csr_singlepass_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_csr_singlepass_distr_step2_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_csr_singlepass_online_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_csr_sum_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_csr_sum_distr_step2_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_csr_sum_online_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_dense_default_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_dense_default_distr_step2_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_dense_default_online_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_dense_singlepass_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_dense_singlepass_distr_step2_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_dense_singlepass_online_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_dense_sum_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_dense_sum_distr_step2_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_dense_sum_online_fpt_cpu.cpp
  cpp/daal/src/algorithms/low_order_moments/oneapi/low_order_moments_distributed_oneapi_impl.i
  cpp/daal/src/algorithms/svm/oneapi/svm_helper_oneapi.h
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/infer_train_cls_kernel_dpc_test.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/infer_train_reg_kernel_dpc_test.cpp
  cpp/oneapi/dal/backend/interop/table_conversion.hpp
  cpp/oneapi/dal/backend/primitives/BUILD
  cpp/oneapi/dal/backend/primitives/test/fill_dpc.cpp
  cpp/oneapi/dal/backend/primitives/test/ndarray.cpp
  examples/daal/cpp_sycl/source/datasource/datastructures_usm.cpp
  examples/daal/cpp_sycl/source/k_nearest_neighbors/bf_knn_dense_regression_batch.cpp
  examples/daal/cpp_sycl/source/logistic_regression/logistic_regression_online.h
  examples/oneapi/dpc/makefile_lnx
Labels: dpc++

#1469 Sum reduction speedup with application to K-Means
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_dense_lloyd_batch_kernel_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_dense_lloyd_kernel_base_ucapi.h
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_dense_lloyd_kernel_base_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_lloyd_distr_step1_ucapi_impl.i
  cpp/daal/src/sycl/cl_kernels/sum_reducer.cl
  cpp/daal/src/sycl/reducer.h
  cpp/daal/src/sycl/sum_reducer.cpp
Labels: dpc++

#1473 Changes required for daal4py USM integration
  cpp/daal/include/data_management/data/internal/numeric_table_sycl_homogen.h
  cpp/daal/include/services/internal/sycl/execution_context_sycl.h
Labels: oneAPI

#1466 Add nightly tests and tests with external datasets for oneAPI K-Means
  cpp/daal/src/algorithms/kmeans/oneapi/cl_kernels/kmeans_cl_kernels.cl
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_dense_lloyd_kernel_base_ucapi_impl.i
  cpp/oneapi/dal/algo/kmeans/test/batch.cpp
  cpp/oneapi/dal/test/engine/metrics/clustering.hpp
  cpp/oneapi/dal/test/engine/metrics/test/clustering.cpp
Labels: oneAPI

#1470 Add SVM oneAPI interface tests
  cpp/oneapi/dal/algo/svm/BUILD
  cpp/oneapi/dal/algo/svm/backend/cpu/train_kernel_test.cpp
  cpp/oneapi/dal/algo/svm/backend/gpu/train_kernel_thunder_dpc_test.cpp
  cpp/oneapi/dal/algo/svm/common.cpp
  cpp/oneapi/dal/algo/svm/common.hpp
  cpp/oneapi/dal/algo/svm/common_dpc_test.cpp
  cpp/oneapi/dal/algo/svm/common_host_test.cpp
  cpp/oneapi/dal/algo/svm/test/badargs.cpp
  cpp/oneapi/dal/algo/svm/test/batch.cpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Labels: dpc++, oneAPI, testing

#1500 Add SVM oneAPI nightly interface tests
  .bazelrc
  cpp/oneapi/dal/algo/svm/test/batch.cpp
  dev/bazel/config/config.tpl.BUILD
  dev/bazel/dal.bzl
Labels: testing

#1506 Update Bazel HOWTO
  dev/bazel/HOWTO.md
Labels: infra, oneAPI

#1509 Fix typos for linear and rbf kernels in docs
  docs/source/onedal/algorithms/kernel-functions/linear-kernel.rst
  docs/source/onedal/algorithms/kernel-functions/rbf-kernel.rst
Labels: docs

#1511 Fix flaky test for row accessor
  cpp/oneapi/dal/table/test/row_accessor.cpp
  cpp/oneapi/dal/test/engine/linalg/matrix.hpp
Labels: dpc++, oneAPI

#1519 [DOC] Fix kmeans doc
  docs/source/api/algorithms/clustering/kmeans.rst
Labels: docs

#1510 Add regression SVM to docs
  docs/source/includes/svm/svm-examples.rst
  docs/source/includes/svm/svm-introduction.rst
  docs/source/onedal/algorithms/svm/svm.rst
Labels: docs

#1518 Refactor array tests
  cpp/oneapi/dal/BUILD
  cpp/oneapi/dal/array_dpc_test.cpp
  cpp/oneapi/dal/array_test.cpp
  cpp/oneapi/dal/test/array.cpp
Labels: dpc++, oneAPI

#1520 [DOC] Readme license update
  README.md
Labels: docs

#1525 [DOC] Change desc to descriptor
  cpp/oneapi/dal/algo/svm/common.hpp
  docs/source/api/algorithms/clustering/kmeans-init.rst
  docs/source/api/algorithms/clustering/kmeans.rst
  docs/source/api/algorithms/decomposition/pca.rst
  docs/source/api/algorithms/ensembles/decision-forest.rst
  docs/source/api/algorithms/kernel-functions/linear-kernel.rst
  docs/source/api/algorithms/kernel-functions/rbf-kernel.rst
  docs/source/api/algorithms/nearest-neighbors/knn-classification.rst
  docs/source/api/algorithms/svm/svm.rst
  docs/source/conf.py
Labels: docs

#1527 Set default number of benchmark runs to 5
  cpp/oneapi/dal/test/engine/catch_main.cpp
Labels: oneAPI

#1532 Fix bugs with SVR and Polynomial kernel
  cpp/daal/src/algorithms/kernel_function/polynomial/kernel_function_polynomial_dense_default_impl.i
  cpp/daal/src/algorithms/svm/svm_train_thunder_impl.i
  cpp/daal/src/algorithms/svm/svm_train_thunder_kernel.h
Labels: bug

#1535 Update description for tau parameter in SVM
  cpp/oneapi/dal/algo/svm/common.hpp
Labels: docs

#1534 [DOC] Fix doc issues
  docs/source/daal/algorithms/optimization-solvers/solvers/limited-memory-broyden-fletcher-goldfarb-shanno-algorithm.rst
  docs/source/onedal/appendix/decision-tree.rst
Labels: docs

#1537 Timeout reduce for daal4py tests
  .ci/pipeline/ci.yml
Labels: infra
