Repository uxlfoundation/oneDAL, pull requests merged in 2021-02, with the labels that each got.

#1399 Fix typo in SVM predict for choose safe block
  cpp/daal/src/algorithms/svm/svm_predict_impl.i
Labels: bug

#1401 CMake Support
  cmake/scripts/generate_config.cmake
  cmake/templates/oneDALConfig.cmake.in
  cmake/templates/oneDALConfigVersion.cmake.in
Labels: infra

#1366 PCA online oneCCL sample
  samples/daal/cpp/oneccl/daal_lnx.lst
  samples/daal/cpp/oneccl/sources/pca_dense_batch_distributed_oneccl.cpp
  samples/daal/cpp/oneccl/sources/pca_dense_online_distributed_oneccl.cpp
Labels: dpc++

#1404 [DOC] README update
  README.md
Labels: docs

#1405 Fix daal4py CI
  .ci/pipeline/ci.yml
Labels: bug

#1391 [DOC] Legal info updates
  docs/doxygen/custom/cpp/opt_notice.txt
  docs/doxygen/custom/java/opt_notice.txt
  docs/doxygen/custom/python/opt_notice.txt
  docs/source/conf.py
  docs/source/daal/algorithms/association_rules/association-rules.rst
  docs/source/daal/algorithms/cholesky/cholesky.rst
  docs/source/daal/algorithms/covariance/computation-batch.rst
  docs/source/daal/algorithms/covariance/computation-distributed.rst
  docs/source/daal/algorithms/covariance/computation-online.rst
  docs/source/daal/algorithms/covariance/correlation-and-variance-covariance-matrices.rst
  docs/source/daal/algorithms/decision_forest/decision-forest.rst
  docs/source/daal/algorithms/distance/correlation.rst
  docs/source/daal/algorithms/distance/cosine.rst
  docs/source/daal/algorithms/distributions/bernoulli.rst
  docs/source/daal/algorithms/em/expectation-maximization.rst
  docs/source/daal/algorithms/implicit_als/implicit-alternating-least-squares.rst
  docs/source/daal/algorithms/kmeans/k-means-clustering.rst
  docs/source/daal/algorithms/moments/computation-batch.rst
  docs/source/daal/algorithms/moments/computation-distributed.rst
  docs/source/daal/algorithms/moments/computation-online.rst
  docs/source/daal/algorithms/naive_bayes/naive-bayes-classifier.rst
  docs/source/daal/algorithms/outlier_detection/multivariate.rst
  docs/source/daal/algorithms/pca/principal-component-analysis.rst
  docs/source/daal/algorithms/qr/qr-decomposition.rst
  docs/source/daal/algorithms/svd/singular-value-decomposition.rst
  docs/source/daal/algorithms/svm/support-vector-machine-classifier.rst
  docs/source/daal/services/extracting-version-information.rst
  docs/source/daal/services/managing-computational-environment.rst
  docs/source/legal.rst
  docs/source/opt-notice.rst
  samples/daal/cpp/arrow/README.md
  samples/daal/cpp/kdb/README.md
  samples/daal/cpp/mpi/README.md
  samples/daal/cpp/mysql/README.md
  samples/daal/java/hadoop/README.md
  samples/daal/java/spark/README.md
  samples/daal/scala/spark/README.md
Labels: docs

#1412 Fix an java example in Random Forest
  examples/daal/java/daal.lst.bat
  examples/daal/java/daal_fbsd.lst
  examples/daal/java/daal_lnx.lst
  examples/daal/java/daal_mac.lst
  java/com/intel/daal/algorithms/decision_forest/regression/train_types.cpp
Labels: bug

#1414 Test bazel cache in Azure pipelines
  .bazelrc
  .ci/pipeline/ci.yml
Labels: infra

#1410 host_policy singleton
  cpp/oneapi/dal/backend/dispatcher_dpc.hpp
  cpp/oneapi/dal/detail/ops_dispatcher.hpp
  cpp/oneapi/dal/detail/policy.hpp
  cpp/oneapi/dal/detail/vertex_similarity_ops.hpp
Labels: dpc++, oneAPI

#1423 [DOC] Updated info in readme
  README.md
Labels: docs

#1422 NO_DIST in daal4py CI
  .ci/pipeline/ci.yml
Labels: infra

#1426 Link DLL on windows with DPC++
  dev/make/cmplr.dpcpp.mk
  dev/make/common.mk
Labels: dpc++, oneAPI

#1428 Add Bazel config to filter out public interface tests
  .bazelrc
  cpp/oneapi/dal/algo/pca/BUILD
  cpp/oneapi/dal/backend/primitives/BUILD
  cpp/oneapi/dal/backend/primitives/blas/BUILD
  cpp/oneapi/dal/test/engine/config.cpp
  dev/bazel/cc/common.bzl
  dev/bazel/dal.bzl
  dev/bazel/deps/onedal.tpl.BUILD
  makefile
Labels: infra, oneAPI

#1432 Download MKL from PIP instead oneAPI toolkit installation
  .ci/pipeline/ci.yml
  WORKSPACE
  dev/bazel/deps/mkl.bzl
  dev/bazel/repos.bzl
Labels: infra, oneAPI

#1436 Support more switches to control tests configurations
  .bazelrc
  cpp/daal/BUILD
  dev/bazel/HOWTO.md
  dev/bazel/config/config.bzl
  dev/bazel/config/config.tpl.BUILD
  dev/bazel/dal.bzl
Labels: infra, oneAPI

#1419 oneAPI interface tests for K-Means
  cpp/daal/src/algorithms/kmeans/kmeans_lloyd_batch_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/cl_kernels/kmeans_cl_kernels.cl
  cpp/oneapi/dal/algo/kmeans/BUILD
  cpp/oneapi/dal/algo/kmeans/backend/cpu/infer_kernel.cpp
  cpp/oneapi/dal/algo/kmeans/backend/cpu/train_kernel_lloyd_dense.cpp
  cpp/oneapi/dal/algo/kmeans/backend/cpu/train_kernel_lloyd_dense_test.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_dense_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_dense_dpc_test.cpp
  cpp/oneapi/dal/algo/kmeans/common_kmeans_test.cpp
  cpp/oneapi/dal/algo/kmeans/test/badarg.cpp
  cpp/oneapi/dal/algo/kmeans/test/batch.cpp
Labels: dpc++, oneAPI

#1424 [DOC] Fixed links in docs
  docs/source/daal/algorithms/decision_forest/decision-forest-classification.rst
  docs/source/daal/algorithms/decision_forest/decision-forest-regression.rst
  docs/source/daal/algorithms/kmeans/initialization-batch.rst
  docs/source/daal/algorithms/kmeans/k-means-clustering.rst
Labels: docs

#1416 CSV generator
  cpp/oneapi/dal/algo/pca/test/batch.cpp
  cpp/oneapi/dal/test/engine/BUILD
  cpp/oneapi/dal/test/engine/dataframe_common.cpp
  cpp/oneapi/dal/test/engine/dataframe_common.hpp
Labels: dpc++, oneAPI

#1439 oneAPI interface tests for Linear and RBF kernels
  cpp/oneapi/dal/algo/linear_kernel/BUILD
  cpp/oneapi/dal/algo/linear_kernel/backend/cpu/compute_kernel_test.cpp
  cpp/oneapi/dal/algo/linear_kernel/backend/gpu/compute_kernel_dense_dpc_test.cpp
  cpp/oneapi/dal/algo/linear_kernel/common_dpc_test.cpp
  cpp/oneapi/dal/algo/linear_kernel/test/badargs.cpp
  cpp/oneapi/dal/algo/linear_kernel/test/batch.cpp
  cpp/oneapi/dal/algo/linear_kernel/test/overflow.cpp
  cpp/oneapi/dal/algo/pca/test/batch.cpp
  cpp/oneapi/dal/algo/rbf_kernel/BUILD
  cpp/oneapi/dal/algo/rbf_kernel/backend/cpu/compute_kernel_test.cpp
  cpp/oneapi/dal/algo/rbf_kernel/backend/gpu/compute_kernel_dense_dpc_test.cpp
  cpp/oneapi/dal/algo/rbf_kernel/common_dpc_test.cpp
  cpp/oneapi/dal/algo/rbf_kernel/common_host_test.cpp
  cpp/oneapi/dal/algo/rbf_kernel/test/badargs.cpp
  cpp/oneapi/dal/algo/rbf_kernel/test/batch.cpp
  cpp/oneapi/dal/algo/rbf_kernel/test/overflow.cpp
Labels: dpc++, oneAPI

#1440 DF: improve accuracy
  cpp/daal/src/algorithms/dtrees/dtrees_train_data_helper.i
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Labels: bug

#1456 Ad public and private configs to Bazel
  .bazelrc
  cpp/oneapi/dal/backend/primitives/stat/BUILD
Labels: infra, oneAPI

#1458 Fix wrong dependency in Bazel test module
  cpp/oneapi/dal/test/engine/BUILD
Labels: infra, oneAPI

#1442 kNN tests
  cpp/oneapi/dal/algo/knn/BUILD
  cpp/oneapi/dal/algo/knn/common_knn_dpc_test.cpp
  cpp/oneapi/dal/algo/knn/common_knn_host_test.cpp
  cpp/oneapi/dal/algo/knn/test/badarg.cpp
  cpp/oneapi/dal/algo/knn/test/batch.cpp
  cpp/oneapi/dal/test/engine/linalg/test/dot.cpp
  cpp/oneapi/dal/test/engine/metrics/BUILD
  cpp/oneapi/dal/test/engine/metrics/classification.hpp
  cpp/oneapi/dal/test/engine/metrics/test/classification.cpp
Labels: dpc++, oneAPI

#1449 Normal generator
  cpp/oneapi/dal/algo/linear_kernel/test/batch.cpp
  cpp/oneapi/dal/algo/pca/test/batch.cpp
  cpp/oneapi/dal/algo/rbf_kernel/test/batch.cpp
  cpp/oneapi/dal/test/engine/dataframe_actions.hpp
  cpp/oneapi/dal/test/engine/dataframe_common.cpp
  cpp/oneapi/dal/test/engine/dataframe_common.hpp
  cpp/oneapi/dal/test/engine/linalg/matrix.hpp
  cpp/oneapi/dal/test/engine/linalg/umath.hpp
  cpp/oneapi/dal/test/engine/math.hpp
Labels: dpc++, oneAPI
